@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: $button-bg;
  color: $button-color-text;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: $button-color-text !important;
    background-color: $button-bg-hover;
    text-decoration: none;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $button-bg;
  color: $button-bg;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background: $button-bg;
    color: $button-color-text;
  }
}
