@import "../../../styles/settings.scss";

.root {
  background-color: $productBox-bg;
  margin-top: 1rem;

  .header {
    padding: 10px;
    background-color: $color-grey-160;
    color: $white;
    .dots {
      position: absolute;
      right: 0;
      top: 0;

      ul {
        margin-right: 0.5rem;
        padding: 0 0 0 1rem;
        list-style: none;
        transform: translateY(15px);

        li {
          display: inline-block;
          margin-left: 0.5rem;

          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: $newFurniture-dots-bg;
            font-size: 0;

            &.active,
            &:hover {
              background-color: $newFurniture-active-dots-bg;
            }
          }
        }
      }
    }
  }
}

.fadeIn {
  @include fadeIn;
}

.fadeOut {
  @include fadeOut;
}
