@import "../../../styles/settings.scss";

.root {
  background-color: $productBox-bg;
  margin-top: 1rem;

  .header {
    padding: 10px;
    background-color: $color-grey-160;
    color: $white;
  }
}

.fadeIn {
  @include fadeIn;
}

.fadeOut {
  @include fadeOut;
}