@import "../../../styles/settings.scss";
@import "../../../styles/mediaQueriesMixins.scss";

.root {
  background-color: $productBox-bg;
  margin-top: 1rem;

  .header {
    padding: 10px;
    background-color: $color-grey-160;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-phone {
      gap:10px;
      flex-direction: column;
    }
  }


}

.fadeIn {
  @include fadeIn;
}

.fadeOut {
  @include fadeOut;
}