@import "../../../styles/settings.scss";
@import "../../../styles/mediaQueriesMixins.scss";

.root {
  .panelBar {
    margin-bottom: 30px;
    position: relative;


    @include for-tablet {
      margin-bottom: 80px;
    }

    @include for-phone {
      margin-bottom: 80px;
    }

    :global(.row)>* {
      border-bottom: 4px solid $newFurniture-bottom-line-color;
    }

    .heading {
      position: relative;

      h3 {
        color: $newFurniture-text-left-color;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $newFurniture-active-line-color;
      }
    }

    .menu {
      text-align: center;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          margin: 0 0.5rem;
          font-weight: 600;

          a {
            color: $newFurniture-text-center-color;
            position: relative;
            text-decoration: none;
            font-size: 18px;
            display: block;

            &.active,
            &:hover {
              @include bg-hover-animation;

              &::before {
                content: "";
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 100%;
                border-bottom: 4px solid $newFurniture-active-line-color;
              }
            }
          }
        }
      }
    }

    .dots {
      position: absolute;
      right: 0;
      top: 0;

      @include for-tablet {
        position: relative;
        margin: 0 auto;
      }

      @include for-phone {
        top: 60px;
      }

      ul {
        margin: 0;
        padding: 0 0 0 1rem;
        list-style: none;
        background-color: $newFurniture-dots-ul-bg;
        transform: translateY(15px);

        li {
          display: inline-block;
          margin-left: 0.5rem;

          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: $newFurniture-dots-bg;
            font-size: 0;

            &.active,
            &:hover {
              @include bg-hover-animation;
              background-color: $newFurniture-active-dots-bg;
            }
          }
        }
      }
    }
  }

  .products {
    opacity: 0;
  }
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.35s;
  animation-delay: 0.35s;
  animation-fill-mode: forwards;
}