@import "../../../styles/settings.scss";
@import "../../../styles/mediaQueriesMixins.scss";

.root {
  background-color: $topBar-bg;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: 55px;

      a {
        color: $topBar-text-color;
        font-size: 13px;

        &:hover {
          color: $topBar-text-color-active;
          text-decoration: none;
        }
      }
    }
  }

  .iconLabel{
    margin: 0 5px;
  }

  .topOptions ul li {
    margin-right: 1.5rem;

    .icon {
      margin-left: 2px;
    }
  }

  .topMenu ul li {
    margin-left: 1.5rem;

    .icon {
      margin-right: 2px;
    }
  }
}

@include for-tablet {
  .iconLabel {
    display: none;
    margin: 0;
  }
}

@include for-phone {
  .root {
    .iconLabel {
      display: none;
    }

    .topMenu {

      ul {
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        li:last-of-type{
          padding-right: 10px;
        }
      }
    }

    .topOptions ul li {
      margin-right: 10px;

      .icon {
        margin-left: 5px;
      }
    }

    .icon {
      margin: 0;
    }
  }
}