@import "../../../styles/settings.scss";

.stars {
  a {
    text-decoration: none;
    color: $productBox-stairs-color;
  }
}

.userRating {
  a {
    text-decoration: none;
    color: $primary;
  }
}
