@import "../../../styles/settings.scss";

.brands {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.arrow {
  display: flex;
  width: 50px;
  height: 80px;
  background-color: black;
  font-size: 32px;
  justify-content: center;
  padding: 17px 0;
}
.arrow:hover {
  background-color: $primary;
  cursor: pointer;
}

.imageContainer {
  max-width: 300px;
  margin: 0 5px;
  padding-left: 0;
  padding-right: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .fadeIn {
    @include fadeIn;
  }
  
  .fadeOut {
    @include fadeOut;
  }
}
