.brands {
  display: flex;
  text-align: center;
  justify-content: center;
}

.arrow {
  display: flex;
  width: 50px;
  height: 80px;
  background-color: black;
  font-size: 32px;
  justify-content: center;
  padding: 17px 0;
}

.image {
  width: 100%;
}
