@import "../../../styles/settings.scss";

.root {
  background-color: $productBox-bg;
  border: 1px solid $productBox-border-color;
  margin-bottom: 2rem;

  .photo {
    position: relative;
    background: {
      color: $productBox-photo-bg;
      size: contain;
      position: center;
      repeat: no-repeat;
    }

    overflow: hidden;
    align-items: flex-end;

    .image {
      object-fit: cover;
      width: 100%;
      height: 280px;
    }

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $productBox-sale-bg;
      border-radius: 50%;
      color: $productBox-sale-color;
      padding: 30px 15px 5px 15px;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  .buttonsHidden {
    display: flex;
    visibility: hidden;
    justify-content: space-between;
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $productBox-title;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $productBox-line-border-color;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $productBox-line-border-color-before;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .price {
    display: flex;
  }
  .isShownPrice {
    background-color: $primary;
  }
  .favoriteActive {
    background-color: $primary;
  }
}
