@import "../../../styles/settings.scss";

.root {

      .panelBar {
        margin-bottom: 30px;
        position: relative;
        border-bottom: 4px solid $gallery-border-color;

      .heading {
        position: relative;

        h3 {
          color: $gallery-title-color;
          text-transform: uppercase;
          font-size: 20px;
          line-height: 38px;
          margin: 0;
          letter-spacing: 1px;
        }

        &::before {
          content: "";
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 45px;
          border-bottom: 4px solid $gallery-border-color-active;
        }
      }
    }
  }
