@import "../../../styles/settings.scss";
@import "../../../styles//mediaQueriesMixins.scss";

.root {
  border: 1px solid $productSearch-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;
  margin: 5px;

  .category {
    border-right: 1px solid $productSearch-border-color;
    display: flex;
    align-items: center;
    position: relative;

    .dropDown {
      -webkit-appearance: none;
      border: 0;
      background-color: transparent;
      padding: 0px 30px 0px 35px;
      height: 100%;
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;

      .icon:first-child {
        color: $primary;
        position: absolute;
        left: -25px;
        z-index: 0;
      }

      .icon:last-child {
        position: absolute;
        right: -20px;
        z-index: 0;
      }

      &:hover {
        cursor: pointer;
        overflow: visible;
      }

      .selectLabel {
        position: relative;
        top: 0px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }

      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: absolute;
        top: 43px;
        width: calc(100% + 2px);
        text-align: center;
        border: 1px solid $productSearch-border-category-color;
        margin-left: -5px;
        z-index: 2;
        background-color: white;

        li {
          position: relative;
          padding: 5px;

          &:hover {
            @include bg-hover-animation;
            background-color: $text-color;
            color: white;
          }
        }
      }
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }

  @include for-phone {
            .searchField {
              padding-left: 4px;
              font-size: 10px;
              width: 150px;

              .icon {
                width: 30px;
                aspect-ratio: 1/1;
                display: grid;
                place-content: center;
                font-size: 20px;
              }
            }

            .product-search-input {
              width: max(100%, 145px);
            }

            .category {
              width: 100px;
              font-size: 14px;

              .icon {
                display: none;
              }

              .dropDown {
                ul {
                  width: 100px;
                }
              }

              &:hover .dropDown ul {
                @include bg-hover-animation;
                position: absolute;
                left: 5px;
              }

              &:hover .selectLabel {
                @include bg-hover-animation;
                position: relative;
                left: -15px;
                width: 100%;
              }

            }
  }

}
