@import "../../../styles/settings.scss";

.root {
  border: 1px solid $productSearch-border-color;
  display: inline-flex;
  height: 45px;
  color: $productSearch-text-color;

  .category {
    border-right: 1px solid $productSearch-border-category-color;
    display: flex;
    align-items: center;
    position: relative;


    .icon:first-child {
      color: $productSearch-icon-color;
      position: absolute;
      left: 10px;
      z-index: 0;
      margin-right: 10px;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
      right: 15px;
      top: 6px;
    }

    ul {
        list-style-type: none;
        margin: 0;
      }

    .dropDownMenu {
      list-style-type: none;
      position: relative;
      font-size: 14px;
      padding: 5px 35px 5px 40px;
      z-index: 1;
      cursor: pointer;
    }

    .dropDownMenu li:hover, .dropDownMenu .icon:hover {
      outline: none;
    }

    .dropDownMenu li:hover .dropElements {
      outline: 1px solid $productSearch-select-outline;
    }

    .dropElements {
      display: none;
      position: absolute;
      width: 100%;
      left: 0;
      background-color: $productSearch-select-bg;
      padding: 0;
    }

    .dropElements li {
      padding:5px 35px 5px 40px;
    }

    .dropDownMenu li:hover .dropElements {
      display: block;
    }

    .dropElements li:hover {
      background-color: $productSearch-select-bg-hover;
      color: $productSearch-select-color-hover;

    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $productSearch-placeholder-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
