@import "../../../../styles/settings.scss";

.promo {
  position: absolute;
  bottom: 200px;
  right: 76px;
  z-index: 1;
  color: $gallerySlider-promo-color;

  &::before {
    content: "";
    position: absolute;
    top: -120px;
    right: -9px;
    background-color: $gallerySlider-promo-bg;
    opacity: 0.6;
    z-index: 1;
    width: 120px;
    height: 120px;
    border-radius: 80px;
  }

  h4 {
    position: absolute;
    z-index: 2;
    top: -60px;
    left: -50px;
    transform: translate(-50%, -80%);
    font-size: 18px;
  }

  h6 {
    position: absolute;
    z-index: 2;
    top: -40px;
    left: -50px;
    transform: translate(-50%, 30%);
    font-size: 12px;
    text-decoration: line-through;
  }
}
