@import "../../../styles/settings.scss";
@import "../../../styles/mediaQueriesMixins.scss";

.root {
  .footerMenu {
    background-color: $footer-wrapper-bg;
    padding: 3rem 0;

    .menuWrapper {
      h6 {
        color: $footer-wrapper-title-color;
        text-transform: uppercase;
        margin: 0 0 1rem 0;
      }

      ul {
        margin: 0 0 1.5rem 0;
        padding: 0;
        list-style: none;
        li {
          a {
            font-size: 14px;
            line-height: 30px;
            color: $footer-menu-text-color;

            &:hover {
              color:$footer-menu-text-hover;
            }
          }
        }
      }
    }

    .paymentMethods {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
      }
    }
  }

  .bottomBar {
    background-color: $footer-bar-bg;

    :global(.container) > :global(.row) {
      height: 95px;
    }

    .copyright {
      p {
        margin: 0;
        color: $footer-bar-text-color;
        font-size: 14px;
        line-height: 26px;
      }

      @include for-tablet {
        text-align: left !important;
        margin-bottom: 15px;
     }

      @include for-phone {
         margin-bottom: 15px;
      }
    }

    .socialMedia {

      @include for-tablet {
        margin-bottom: 15px;
     }

      @include for-phone {
         margin-bottom: 15px;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        flex-wrap: nowrap;

        li {
          display: inline-block;
          margin-left: 1rem;

          a {
            color: $footer-bar-icon-color;
            text-decoration: none;

            &:hover {
              color: $footer-bar-icon-active;
            }
          }
        }
      }
    }
  }
  .emptySpace {
    color: transparent;
    background-color: $footer-bar-bg;

    @include for-tablet {
      order: -1;
      flex: 1 0 100%;
      text-align: center;
    }
    @include for-phone {
      order: -1;
      flex: 1 0 100%;
      text-align: center;
    }
  }

  .footerWrapper {
    @include for-phone {
      text-align: center !important;
    }
  }
}
